<h1>Welcome !</h1>
<p>Search for a museum near your location :</p>


<form action="/api/v1/museums" method="get">
  <input type="text" name="lat" placeholder="What's the latitude?">
  <input type="text" name="lng" placeholder="What's the longitude">
  <input type="submit">
</form>
